{% extends 'main/layout.html' %}


{% block title %} В очереди {% endblock %}


{% block profile_img %}

<img class="icons" src="../static/img/icons.jpg"/>
<a class="navbar-brand">Илон Маск</a>

{% endblock %}


{% block content %}
<ul class="content-main">

    <div class="item-cool">
        <li><a class="content-main-item-min">Ваше место в очереди:</a><li>
        <li><a class="content-main-item-max">165</a><li>
    </div>

    <div class="item-cool">
        <li><a class="content-main-item-min">Выходите через:</a><li>
        <li><a class="content-main-item-max">29</a><li>
        <li><a class="content-main-item-min">минут</a><li>
    </div>

    <div class="item-cool">
        <li><a class="content-main-item-min">Вы в очереди на:</a><li>
        <li><a class="content-main-item-max">ОБЕД</a><li>
    </div>
</ul>
<a class="content-schedule-title">МЕНЮ</a>
<ul class="content-schedule-list">
    <li><a class="content-schedule-list-item-now">Сырный суп</a><li>
    <li><a class="content-schedule-list-item-now">Обед - 13:00</a><li>
    <li><a class="content-schedule-list-item-now">Полдник - 15:00</a><li>
</ul>
{% endblock %}