.body{
    font-family: 'Ubuntu';
}



.navbar-brand{
    text-align: left;
    color: #4D008C;
    font-weight: bold;
}



.icons{
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 55px;
  height: 55px;
  border: 2px solid #00af64;

}



.burger-checkbox {
  position: absolute;
  visibility: hidden;
}

.burger {
  position: relative;
  z-index: 0;
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}

.burger::before,
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 25px;
  height: 4px;
  border-radius: 10px;
  background: #000;
}

.burger::before {
  top: 2px;
  box-shadow: 0 10px 0 #000;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}

.burger::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}

.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 9px 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}

.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}



.menu-list {
  top: 10px;
  right: 0;
  position: absolute;
  display: grid;
  gap: 12px;
  padding: 42px 0;
  margin-top: 50px;
  color: #fff0;
  list-style-type: none;
  transform: translateX(100%); /* Changed from translateX(-100%) */
  transition: 0.3s;
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
}

.menu-item {
  display: block;
  padding: 8px;
  color: #FFF;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;

}



.menu-item:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #0b050d;
}

.navbar-brand:hover{
    color: #4D008C;
}

.burger-checkbox:checked ~ .menu-list {
  transform: translateX(0);
  margin-right: 15px;
  margin-top:15;
  background: #DBCCE8;
}



.content-main  {
  padding: 16px;
  width: 350px;
  background: #4D008C;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #4D008C;
  list-style-type: none;
  border-radius: 15px;
}

.content-main-item-min {
  display: block;
  padding: 4px;
  color: #FFF;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
}

.content-main-item-max {
  display: block;
  padding: 0px;
  color: #FFF;
  font-size:  28px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
}

.item-cool {
    padding: 5px;
    text-align: center;
}



.content-schedule-list  {
  padding: 24px;
  width: 375px;
  background: #DBCCE8;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  list-style-type: none;
  border-radius: 15px;
}

.content-schedule-title {
    color: #4D008C;
    display: block;
    padding: 0px;
    margin-top: 50px;
    font-size:  30px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}

.content-schedule-list-item {
  display: block;
  padding: 8px;
  color: #9879B0;
  font-size: 18 px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
}

.content-schedule-list-item-note {
  display: block;
  padding: 8px;
  color: #FFF;
  font-size: 12px;
  text-align: left;
  text-decoration: none;
  border-radius: 10px;
}

.content-schedule-list-item-now {
  display: block;
  padding: 10px;
  color: #4D008C;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
}

.content-schedule-list-item:hover {
    color: #9879B0;
}

.content-schedule-list-item-now:hover {
    color: #4D008C;
}

.content-schedule-title:hover {
    color: #4D008C;
}

.content-schedule-list-item-note:hover {
    color: #FFF;
}

.content-main-item-min:hover {
    color: #fff;
}

.content-main-item-max:hover {
    color: #fff;
}



.line {
  padding: 0px 0;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background: #4D008C;
  list-style-type: none;
  text-align: center;
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
}

.line-btn {
  display: block;
  padding: 8px;
  color: #FFF;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;

}

.line-btn:hover {
  background: #A363D8;
  color: #4D008C;
}



.sirius {
  margin-top: 200px;
  overflow: hidden;
  width: 250px;
  height: 57px;
}

.footer {
    background-color: #fff0+;
    margin: 0;
    position: block;               /* 2 */
    top: 50%;                         /* 3 */
    transform: translate(0, -50%)
    right: 0;
    text-align: center;
    bottom: 0;
    text-align: center;
    width: 99%;
    height: 300px;
 }



.icons_set {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  border: 2px solid #00af64;
  margin-top: 10px;

}


.content-main-item {
    color: #fff;
    display: block;
    padding: 10px;
    font-size:  30px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}


.hr-main {
    border-top: 50%; /* Убираем границу */
    background-color: #fff; /* Цвет линии */
    color: white; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */

}


.content-main-item:hover {
     color: #fff;
}


